@charset "utf-8";

/********************************************************************************
* 리셋 설정
********************************************************************************/
body{background-color: #fff;color: #333333;font:normal 12px dotum;background: url(/images/frame/left_bg.png) repeat-y;} 
div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,p,form,fieldset,input,th,td,figure{margin:0px; padding:0px; font-family:Dotum; font-size:12px; color:#333; line-height:17px;}
* { margin:0; padding:0; }
img, fieldset{border:0}
legend { visibility:hidden; height:0px; width:0px; line-height:0; text-indent:-10px; font-size:0px; }
ul, ol { list-style-type:none; }

 /**********************************
 common
 **********************************/
.w2group{background-color:transparent;}
.trans {background : transparent;}

.fl{float:left;}
.fr{float:right;}
.clearfix:after{content:".";display:block;height:0;clear:both;visibility:hidden}
.clearfix{* zoom:1}

/**********************************
 top menu
 **********************************/
.topmenu_bg {
    background: url(/images/frame/top_img_bg.png);
    border-bottom: 1px solid #102d69;
}

.topmenu_logo {
    background: url(/images/frame/top_img_logo.png) no-repeat 5px center;
    width: 245px;
    height: 32px;
}

.topmenu_logo1 {
    background: url(/images/frame/top_img_logo1.png) no-repeat 5px center;
    width: 245px;
    height: 32px;
}

.topmenu_txt {
    margin-left:95px;
    margin-top:10px;
    font: bold 12px dotum;
    text-overflow : ellipsis;
    white-space:nowrap;
}

.gnb_bg {
    height: 32px;
    border-left: 1px solid #7d92bf;
    border-right: 1px solid #e0e8f8;
}

.gnb a {
    display : inline-block;
    height:22px;
    width:98px;
    font: bold 14px dotum;
    color : #102d69;
    text-align: center;
    text-decoration: none;
    padding-top: 10px;
    outline: none;
    background: url(/images/frame/top_img_bg.png);
    border-left: 1px solid #e0e8f8;
    border-right: 1px solid #7d92bf;
    text-shadow: rgba(255, 255, 255, 0.5) 0 1px 1px;
}

.gnb a:hover {
    outline: none;
    color : #f9c12d;
    background: #102d69;
    border-left: 1px solid #071b46;
    border-right: 1px solid #071b46;
    text-shadow: rgba(0, 0, 0, 1) 0 1px 1px;
}
.mt10 {margin-top:10px;}


/* side menu */
/* 압정 */
.lmenu01 a {
    display : inline-block;
    height:32px;
    width:44px;
    font: bold 11px dotum;
    color : #102d69;
    text-align: center;
    text-decoration: none;
    outline: none;
    background: url(/images/frame/left_icon_pin.png) no-repeat 9px 9px;
    border-bottom: 1px solid #7d92bf;
}
.lmenu01 a:hover {
    outline: none;
    color : #fff;
    background: url(/images/frame/left_icon_pin_hover.png) no-repeat 15px 6px;
    background-color: #254589;
    border-bottom: 1px solid #1f4187;
    text-shadow: rgba(15, 36, 80, 1) 0 1px 1px;
}

.lmenu00 a {
	display : inline-block;
    height:32px;
    width:44px;
    font: bold 11px dotum;
    text-align: center;
    text-decoration: none;
    outline: none;
    color : #fff;
    background: url(/images/frame/left_icon_pin_hover.png) no-repeat 15px 6px;
    background-color: #254589;
    border-bottom: 1px solid #1f4187;
    text-shadow: rgba(15, 36, 80, 1) 0 1px 1px;
}
.lmenu00 a:hover {
    color : #102d69;
    outline: none;
    background: url(/images/frame/left_icon_pin.png) no-repeat 9px 9px;
    border-bottom: 1px solid #7d92bf;
}

/* 메뉴 */
.lmenu02 a {
    display : inline-block;
    height:28px;
    width:44px;
    font: bold 11px dotum;
    color : #102d69;
    text-align: center;
    text-decoration: none;
    outline: none;
    background: url(/images/frame/left_icon_menu.png) no-repeat 12px 21px;  
    border-top: 1px solid #e0e8f8;
    border-bottom: 1px solid #7d92bf;
    padding-top: 50px;
}
.lmenu02 a:hover {
    outline: none;
    color : #fff;
    background: url(/images/frame/left_icon_menu_hover.png) no-repeat 11px 20px;
    background-color: #254589;
    border-top: 1px solid #264689;
    border-bottom: 1px solid #1f4187;
    text-shadow: rgba(15, 36, 80, 1) 0 1px 1px;
}

/* 메뉴얼 */
.lmenu03 a {
    display : inline-block;
    height:28px;
    width:44px;
    font: bold 11px dotum;
    color : #102d69;
    text-align: center;
    text-decoration: none;
    outline: none;
/*    background: url(/images/frame/left_icon_menual.png) no-repeat 12px 21px; */
    background: url(/images/form/number.png) no-repeat 12px 21px;    
    border-top: 1px solid #e0e8f8;
    border-bottom: 1px solid #7d92bf;
    padding-top: 50px;
}
.lmenu03 a:hover {
    outline: none;
    color : #fff;
/*    background: url(/images/frame/left_icon_menual_hover.png) no-repeat 11px 20px; */
    background: url(/images/form/number.png) no-repeat 12px 21px;
    background-color: #254589;
    border-top: 1px solid #264689;
    border-bottom: 1px solid #1f4187;
    text-shadow: rgba(15, 36, 80, 1) 0 1px 1px;
}

/* 화면확대 */
.lmenu04 a {
    display : inline-block;
    height:35px;
    width:44px;
    font: bold 11px dotum;
    color : #102d69;
    text-align: center;
    text-decoration: none;
    outline: none;
    background: url(/images/frame/left_icon_zoomin.png) no-repeat 11px 13px;
    border-top: 1px solid #e0e8f8;
    border-bottom: 1px solid #7d92bf;
    padding-top: 43px;
}
.lmenu04 a:hover {
    outline: none;
    color : #fff;
    background: url(/images/frame/left_icon_zoomin_hover.png) no-repeat 10px 12px;
    background-color: #254589;
    border-top: 1px solid #264689;
    border-bottom: 1px solid #1f4187;
    text-shadow: rgba(15, 36, 80, 1) 0 1px 1px;
}

/* 화면축소 */
.lmenu05 a {
    display : inline-block;
    height:35px;
    width:44px;
    font: bold 11px dotum;
    color : #102d69;
    text-align: center;
    text-decoration: none;
    outline: none;
    background: url(/images/frame/left_icon_zoomout.png) no-repeat 11px 13px;
    border-top: 1px solid #e0e8f8;
    border-bottom: 1px solid #7d92bf;
    padding-top: 43px;
}
.lmenu05 a:hover {
    outline: none;
    color : #fff;
    background: url(/images/frame/left_icon_zoomout_hover.png) no-repeat 10px 12px;
    background-color: #254589;
    border-top: 1px solid #264689;
    border-bottom: 1px solid #1f4187;
    text-shadow: rgba(15, 36, 80, 1) 0 1px 1px;
}

/* 나의정보 */
.lmenu06 a {
    display : inline-block;
    height:35px;
    width:44px;
    font: bold 11px dotum;
    color : #102d69;
    text-align: center;
    text-decoration: none;
    outline: none;
    background: url(/images/frame/left_icon_myinfo.png) no-repeat 14px 13px;
    border-top: 1px solid #e0e8f8;
    border-bottom: 1px solid #7d92bf;
    padding-top: 43px;
}
.lmenu06 a:hover {
    outline: none;
    color : #fff;
    background: url(/images/frame/left_icon_myinfo_hover.png) no-repeat 13px 12px;
    background-color: #254589;
    border-top: 1px solid #264689;
    border-bottom: 1px solid #1f4187;
    text-shadow: rgba(15, 36, 80, 1) 0 1px 1px;
}

/* 바로가기 */
.lmenu07 a {
    display : inline-block;
    height:35px;
    width:44px;
    font: bold 11px dotum;
    color : #102d69;
    text-align: center;
    text-decoration: none;
    outline: none;
    background: url(/images/frame/left_icon_menugo.png) no-repeat 11px 13px;
    border-top: 1px solid #e0e8f8;
    border-bottom: 1px solid #7d92bf;
    padding-top: 43px;
}
.lmenu07 a:hover {
    outline: none;
    color : #fff;
    background: url(/images/frame/left_icon_menugo_hover.png) no-repeat 10px 12px;
    background-color: #254589;
    border-top: 1px solid #264689;
    border-bottom: 1px solid #1f4187;
    text-shadow: rgba(15, 36, 80, 1) 0 1px 1px;
}

.slide_menubg {
    background : url(/images/frame/left_img_bg.png);
    border-right: 1px solid #102d69;
}

.left_menubg {
    background : #e9e9e9;
    border-right:1px solid #8c969f;
}
.left_menu_topbg {
    background : url(/images/frame/left_img_topbg.png) repeat-x;
}

.left_menu_botbg {
    background : url(/images/frame/left_img_botbg.png) repeat-x;
}

.left_icon_user {
    background : url(/images/frame/bot_icon_user.png) no-repeat 0 0;
    padding: 0 9px 0 17px;
    border-right: 1px solid #264778;
}

.left_icon_ip {
    background : url(/images/frame/bot_icon_ip.png) no-repeat 8px 0;
    padding: 0 0 0 25px;
    border-left: 1px solid #9aaac2;
}
/* 감추기 */
.autohide a {
    display : inline-block;
    height:9px;
    width:90px;
    outline: none;
    background: url(/images/frame/left_btn_autohide.png) no-repeat 0 0;
}
.autohide a:hover {
    outline: none;
    background: url(/images/frame/left_btn_autohide_hover.png) no-repeat 0 0;
}

/* default */
.bt_res .w2trigger_left {
    background-image:url(/images/form/m_bt_reset_l.png);
    background-repeat:no-repeat;
    width:20px;
    height:20px;
}
.bt_res .w2trigger_center {
    background-image:url(/images/form/m_bt_search_c.png);
    background-repeat:repeat-x;
    font: bold 12px dotum;
    color:#fff;
    text-align: center;
}
.bt_res .w2trigger_right{
    background-image:url(/images/form/m_bt_search_r.png);
    background-repeat:no-repeat;
    width:6px;
    height:20px;
}

/* over */
.bt_res .w2trigger_over .w2trigger_left {
    background-image:url(/images/form/m_bt_reset_l_o.png);
    background-repeat:no-repeat;
    width:20px;
    height:20px;
}
.bt_res .w2trigger_over .w2trigger_center {
    background-image:url(/images/form/m_bt_search_c_o.png);
    background-repeat:repeat-x;
    font: bold 12px dotum;
    color:#fff;
    text-align: center;
}
.bt_res .w2trigger_over .w2trigger_right{
    background-image:url(/images/form/m_bt_search_r_o.png);
    background-repeat:no-repeat;
    width:6px;
    height:20px;
}

/* Disabled */
.bt_res .w2trigger_disabled .w2trigger_left {
    background-image:url(/images/form/m_bt_reset_l_d.png);
    background-repeat:no-repeat;
    width:20px;
    height:20px;
}
.bt_res .w2trigger_disabled .w2trigger_center {
    background-image:url(/images/form/m_bt_search_c_d.png);
    background-repeat:repeat-x;
    font: bold 12px dotum;
    color:#666666;
    text-align: center;
}
.bt_res .w2trigger_disabled .w2trigger_right{
    background-image:url(/images/form/m_bt_search_r_d.png);
    background-repeat:no-repeat;
    width:6px;
    height:20px;
}

/* ◀◀ */
.lmove a {
    display : inline-block;
    height:9px;
    width:90px;
    outline: none;
    background: url(/images/frame/left_btn_autohide.png) no-repeat 0 0;
}
.lmove a:hover {
    outline: none;
    background: url(/images/frame/left_btn_autohide_hover.png) no-repeat 0 0;
}
/* ▶▶ */
.rmove a {
    display : inline-block;
    height:9px;
    width:90px;
    outline: none;
    background: url(/images/frame/left_btn_rmove.png) no-repeat right 0;
}
.rmove a:hover {
    outline: none;
    background: url(/images/frame/left_btn_rmove_hover.png) no-repeat right 0;
}

/* tabcontrol */
.tabstyle1 ul.w2tabcontrol_tabhost {float:left; width:100%; height:27px; margin:0; padding:0; list-style:none; font-size :12px;}
ul.w2tabcontrol_tabhost li {position:relative; float:left; height:100%; margin:0; margin-right:0; margin-bottom:0px; padding:0; overflow:hidden; background:#e0e0e0;}
.tabstyle1 ul.w2tabcontrol_tabhost .w2tabcontrol_tab_left {position:absolute; top:0px; left:0px; width:5px; height:100%; background-image :url(/images/frame/offtab_left.png);}
.tabstyle1 ul.w2tabcontrol_tabhost .w2tabcontrol_tab_center {height:100%; overflow:hidden; text-align:center; background-image :url(/images/frame/offtab_back.png);}
.tabstyle1 ul.w2tabcontrol_tabhost .w2tabcontrol_tab_right {position:absolute; top:0px; right:0px; width:5px; height:100%; background-image :url(/images/frame/offtab_right.png);}
.tabstyle1 ul.w2tabcontrol_tabhost .w2tabcontrol_active .w2tabcontrol_tab_left {background-image :url(/images/frame/ontab_left.png);}
.tabstyle1 ul.w2tabcontrol_tabhost .w2tabcontrol_active .w2tabcontrol_tab_center {background-image :url(/images/frame/ontab_back.png);}
.tabstyle1 ul.w2tabcontrol_tabhost .w2tabcontrol_active .w2tabcontrol_tab_right {background-image :url(/images/frame/ontab_right.png);}
.tabstyle1 ul.w2tabcontrol_tabhost .w2tabcontrol_over .w2tabcontrol_tab_left {background-image :url(/images/frame/ontab_left.png);}
.tabstyle1 ul.w2tabcontrol_tabhost .w2tabcontrol_over .w2tabcontrol_tab_center {background-image :url(/images/frame/ontab_back.png);}
.tabstyle1 ul.w2tabcontrol_tabhost .w2tabcontrol_over .w2tabcontrol_tab_right {background-image :url(/images/frame/ontab_right.png);}
.tabstyle1 ul.w2tabcontrol_tabhost li a {display:block; position:relative; top:6px; margin:0 11px 0 11px; color:#74787c; font:bold 12px dotum; text-decoration:none; text-align:center; line-height:15px;}
.tabstyle1 ul.w2tabcontrol_tabhost li.w2tabcontrol_over a {color:#fff;text-shadow: rgba(54, 82, 110, 1) 0 1px 0;}
.tabstyle1 ul.w2tabcontrol_tabhost li.w2tabcontrol_active a {color:#fff;text-shadow: rgba(54, 82, 110, 1) 0 1px 0;}

.tabstyle1 .w2tabcontrol_container{background:#e9e9e9; border:none;}
.tabstyle1 .w2tabcontrol_contents_wrapper{overflow:visible}

/********************************************************************************
* tabContainer
********************************************************************************/
/* Default */
.se_tabL {
    position:relative;
    background-image: url(/images/frame/offtab_left.png);
    background-repeat: no-repeat;
    width:5px;
}
.se_tabC {
    position:relative;
    background-image: url(/images/frame/offtab_back.png);
    background-repeat: repeat-x;
    text-align:center;
    padding-top:3px;
    color:#74787c;
    font: bold 12px dotum;
}
.se_tabR {
    position:relative;
    background-image: url(/images/frame/offtab_right.png);
    background-repeat: no-repeat;
    background-position:right top;
    width:5px;
}

/* Selected */
.se_tabL_on {
    position:relative;
    background-image: url(/images/frame/ontab_left.png);
    background-repeat: no-repeat;
    width:5px;
    z-index: 3000;
}
.se_tabC_on {
    position:relative;
    background-image: url(/images/frame/ontab_back.png);
    background-repeat: repeat-x;
    text-align:center;
    padding-top:3px;
    color:#FFF;
    font: bold 12px dotum;
    text-shadow: rgba(54, 82, 110, 1) 0 1px 0;
    z-index: 3000;
}
.se_tabR_on {
    position:relative;
    background-image: url(/images/frame/ontab_right.png);
    background-repeat: no-repeat;
    background-position:right top;
    width:5px;
    z-index: 3000;
}

/* Hover */
.se_tabL_over {
    position:relative;
    background-image: url(/images/frame/ontab_left.png);
    background-repeat: no-repeat;
    width:5px;
}
.se_tabC_over {
    position:relative;
    background-image: url(/images/frame/ontab_back.png);
    background-repeat: repeat-x;
    text-align:center;
    padding-top:3px;
    color:#FFF;
    font: bold 12px dotum;
    text-shadow: rgba(54, 82, 110, 1) 0 1px 0;
}
.se_tabR_over {
    position:relative;
    background-image: url(/images/frame/ontab_right.png);
    background-repeat: no-repeat;
    background-position:right top;
    width:5px;
}
.se_tabContents {
    background-color: #e9e9e9;
    border:0 solid #aab1c3;
}

/* websquare menu */
 .w2menu {
     text-align: center;
     background : transparent;
 }

 .w2menu_main .w2menu_node {
      position: relative;
      float : left;
     padding: 0;
     width:98px;
     text-align: center;
     height : 32px;
     padding-top : 14px;
     border-left: 1px solid #e0e8f8;
     border-right: 1px solid #7d92bf;
 }

 .w2menu_main .w2menu_node_over {
    background: #102d69;
    border-left: 1px solid #071b46;
    border-right: 1px solid #071b46;
}

 .w2menu_main .w2menu_label {
     font-family : dotum;
     font-size : 14px;
     font-weight: bold;
     color:#102d69;
     text-shadow: rgba(255, 255, 255, 0.5) 0 1px 0;
 }

 .w2menu_main .w2menu_label:hover {
     font-family : dotum;
     font-size : 14px;
     font-weight: bold;
     color:#f9c12d;
     text-shadow: rgba(0, 0, 0, 1) 0 1px 1px;
 }

.treeviewCss .w2treeview_col_icon_navi, .treeviewCss .w2treeview_icon_navi {
    width: 9px;
}
 
.treeviewCss .w2treeview_label {
    padding-left: 1px;
}


/* 트리 */
.w2treeview_label {
    position : relative;    /* relative, absolute 주면 min-width는 대신 display:block, none왔다갔다할때 위치를 td안에 잘 못찾음..*/
/*  min-width : 75px;   */
    cursor : pointer;
/*  background-color : #0080ff; */
    white-space : nowrap;
    font-size : 12px;
    padding : 0px 0px 0px 0px;
}

/* 툴팁디자인변경(그라데이션) */
.w2grid_tooltip {
    display : none;
    position : absolute;
    border:1px solid #767676;
    background-color:#ffffff;
    background:#ffffff -webkit-gradient(linear, 0% 0%, 0% 100%,from(#ffffff), to(#e4e5f0));
    background:#ffffff -moz-linear-gradient(top, #ffffff, #e4e5f0);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorStr=#ffffff, endColorStr=#e4e5f0);
    cursor : default;
    font-size : 12px;
    color : #000;
    padding-left:5px;
    padding-right:5px;
    padding-top:5px;
    padding-bottom:5px;
    z-index: 500;
    margin: 15px 0 0 15px;

    -khtml-box-shadow: rgba(0, 0, 0, 0.4) 0 2px 3px;
    -ms-box-shadow: rgba(0, 0, 0, 0.4) 0 2px 3px;
    -o-box-shadow: rgba(0, 0, 0, 0.4) 0 2px 3px;
    -moz-box-shadow: rgba(0, 0, 0, 0.4) 0 2px 3px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.4) 0 3px 3px;
    box-shadow: rgba(0, 0, 0, 0.4) 0 2px 3px
}

/************************** windowContainer **************************/

.mdicss .w2window {
    position : absolute;
    background-color : #ffffff;
    border : solid 1px #808080;
}

.mdicss .w2windowContainer_window {
    position : absolute;
    top : 0px;
    left : 0px;
    bottom : 24px;
    overflow : hidden;
    background-color : transparent;
    background: url(/images/frame/m_img_winC.png) no-repeat center center;
    border : solid 1px #808080;
}


.mdicss .w2windowContainer_windowToolbar {
    position : absolute;
    background: url(/images/container/bg_bottom.gif) repeat-x;
    height : 26px;
    bottom : 0px;
    overflow : hidden;
}

.mdicss .w2windowContainer_controlIconLayer {
    top: 2px;
    background : transparent;
}

.mdicss .w2windowContainer_controlIcon_vertical {
    position : absolute;
    width : 25px;
    height : 21px;
    left : 4px;
    top : 1px;
    background : url(/images/container/align1.gif) no-repeat;
    cursor:pointer;
}
.mdicss .w2windowContainer_controlIcon_horizontal {
    position : absolute;
    width : 23px;
    height : 21px;
    left : 31px;
    top : 1px;
    background : url(/images/container/align2.gif) no-repeat;
    cursor:pointer;
}
.mdicss .w2windowContainer_controlIcon_cascade {
    position : absolute;
    width : 23px;
    height : 21px;
    left : 58px;
    top : 1px;
    background : url(/images/container/align3.gif) no-repeat;
    cursor:pointer;
}

.mdicss .w2windowContainer_controlIcon_sequential {
    position : absolute;
    width : 23px;
    height : 21px;
    left : 85px;
    top : 1px;
    background : url(/images/container/align4.gif) no-repeat;
    cursor:pointer;
}

.mdicss .w2windowContainer_controlIcon_closeAll {
    position : absolute;
    width : 23px;
    height : 21px;
    left : 112px;
    top : 1px;
    background : url(/images/container/align5.gif) no-repeat;
    cursor:pointer;
}
.mdicss .w2windowContainer_nameLayer {
    position : relative;
    float : left;
    line-height : 21px;
    overflow : hidden;
    top : 2px;
    width : 98px;
    height : 21px;
    background : url(/images/container/bg_mdiMinimize.gif) no-repeat;
    font-size : 11px;
    font-weight:bold;
    color : #022651;
    padding-top : 1px;
    padding-left : 19px;
    cursor : pointer;
    text-overflow : ellipsis;
    white-space:nowrap;
    z-index : 5;
}
.mdicss .w2windowContainer_selectedNameLayer {
    background : url(/images/container/bg_mdiMinimize_on.gif) no-repeat;
    color : #1e183d;
}

.mdicss .w2windowContainer_nameLayer_close {
position: absolute;
top: 7px;
left: 101px;
width: 11px;
height: 9px;
background-image: url(/images/container/bg_close.png);
background-repeat: no-repeat;
cursor: pointer;
z-index: 7;
}

.w2windowContainer_tooltip{
    display : none;
    position : absolute;
    border:1px solid #767676;
    background-color:#ffffff;
    background:#ffffff -webkit-gradient(linear, 0% 0%, 0% 100%,from(#ffffff), to(#e4e5f0));
    background:#ffffff -moz-linear-gradient(top, #ffffff, #e4e5f0);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorStr=#ffffff, endColorStr=#e4e5f0);
    cursor : default;
    font-size : 14px;
    color : #000;
    padding-left:5px;
    padding-right:5px;
    padding-top:5px;
    padding-bottom:5px;
    z-index: 500;

    -khtml-box-shadow: rgba(0, 0, 0, 0.4) 0 2px 3px;
    -ms-box-shadow: rgba(0, 0, 0, 0.4) 0 2px 3px;
    -o-box-shadow: rgba(0, 0, 0, 0.4) 0 2px 3px;
    -moz-box-shadow: rgba(0, 0, 0, 0.4) 0 2px 3px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.4) 0 3px 3px;
    box-shadow: rgba(0, 0, 0, 0.4) 0 2px 3px
}


.mdicss .w2window_header {
    position : absolute;
    top : 0px;
    left : 0px;
    right : 0px;
    height : 26px;
    background-image : url(/images/container/bg_mdiTitle.gif);
}

.mdicss .w2window_header_title {
    position : absolute;
    top : 0px;
    left : 25px;
    width : 275px;
    height : 18px;
    padding : 4px 0px 0px 0px;
    font-size : 12px;
    font-weight : bold;
    color : #1f3f51;
    cursor : default;
    white-space : nowrap;
}

.mdicss .w2window_header_control {
    position : absolute;
    top : 0px;
    right : 0px;
    width : 75px;
    height : 24px;
}

.mdicss .w2window_minimize {
    position : absolute;
    top : 4px;
    left : 0px;
    width : 23px;
    height : 19px;
    background : url(/images/container/btn_minimize.gif) no-repeat center center;
    cursor : pointer;
}
.mdicss .w2window_maximized .w2window_restore {
    position : absolute;
    top : 4px;
    left : 24px;
    width : 23px;
    height : 19px;
    background : url(/images/container/btn_restore_max.gif) no-repeat center center;
    cursor : pointer;
}
.mdicss .w2window_restored .w2window_restore {
    position : absolute;
    top : 4px;
    left : 24px;
    width : 23px;
    height : 19px;
    background : url(/images/container/btn_restore.gif) no-repeat center center;
    cursor : pointer;
}
.mdicss .w2window_close {
    position : absolute;
    top : 4px;
    left : 48px;
    width : 23px;
    height : 19px;
    background : url(/images/container/btn_close.gif) no-repeat center center;
    cursor : pointer;
}
.mdicss .w2window_header_icon {
    position : absolute;
    top : 5px;
    left : 6px;
    width : 14px;
    height : 15px;
    background : url(/images/container/logo_mdi.gif) no-repeat center center;
}
.mdicss .w2window_body {
    background-color : #ffffff;
    position : absolute;
    top : 24px;
    left : 0px;
    bottom : 0px;
    right : 0px;
    border : 2px solid #ccdae1;
}
.mdicss .w2window_content {
    background-color : #ccdae1;
    position : absolute;
    top : 0px;
    left : 0px;
    bottom : 22px;
    right : 0px;
    margin: 0 2px;
    border : 1px solid #536a88;
}

.mdicss .w2window_msg {
           width : 300px;
}

.mdicss1 .w2window {
    position : absolute;
    background-color : #ffffff;
    border : solid 1px #808080;
}

.mdicss1 .w2windowContainer_window {
    position : absolute;
    top : 0px;
    left : 0px;
    bottom : 24px;
    overflow : hidden;
    background-color : transparent;
    background: url(/images/frame/m_img_winC1.png) no-repeat center center;
    border : solid 1px #808080;
}


.mdicss1 .w2windowContainer_windowToolbar {
    position : absolute;
    background: url(/images/container/bg_bottom.gif) repeat-x;
    height : 26px;
    bottom : 0px;
    overflow : hidden;
}

.mdicss1 .w2windowContainer_controlIconLayer {
    top: 2px;
    background : transparent;
}

.mdicss1 .w2windowContainer_controlIcon_vertical {
    position : absolute;
    width : 25px;
    height : 21px;
    left : 4px;
    top : 1px;
    background : url(/images/container/align1.gif) no-repeat;
    cursor:pointer;
}
.mdicss1 .w2windowContainer_controlIcon_horizontal {
    position : absolute;
    width : 23px;
    height : 21px;
    left : 31px;
    top : 1px;
    background : url(/images/container/align2.gif) no-repeat;
    cursor:pointer;
}
.mdicss1 .w2windowContainer_controlIcon_cascade {
    position : absolute;
    width : 23px;
    height : 21px;
    left : 58px;
    top : 1px;
    background : url(/images/container/align3.gif) no-repeat;
    cursor:pointer;
}

.mdicss1 .w2windowContainer_controlIcon_sequential {
    position : absolute;
    width : 23px;
    height : 21px;
    left : 85px;
    top : 1px;
    background : url(/images/container/align4.gif) no-repeat;
    cursor:pointer;
}

.mdicss1 .w2windowContainer_controlIcon_closeAll {
    position : absolute;
    width : 23px;
    height : 21px;
    left : 112px;
    top : 1px;
    background : url(/images/container/align5.gif) no-repeat;
    cursor:pointer;
}
.mdicss1 .w2windowContainer_nameLayer {
    position : relative;
    float : left;
    line-height : 21px;
    overflow : hidden;
    top : 2px;
    width : 98px;
    height : 21px;
    background : url(/images/container/bg_mdiMinimize.gif) no-repeat;
    font-size : 11px;
    font-weight:bold;
    color : #022651;
    padding-top : 1px;
    padding-left : 19px;
    cursor : pointer;
    text-overflow : ellipsis;
    white-space:nowrap;
    z-index : 5;
}
.mdicss1 .w2windowContainer_selectedNameLayer {
    background : url(/images/container/bg_mdiMinimize_on.gif) no-repeat;
    color : #1e183d;
}

.mdicss1 .w2windowContainer_nameLayer_close {
position: absolute;
top: 7px;
left: 101px;
width: 11px;
height: 9px;
background-image: url(/images/container/bg_close.png);
background-repeat: no-repeat;
cursor: pointer;
z-index: 7;
}

.mdicss1 .w2window_header {
    position : absolute;
    top : 0px;
    left : 0px;
    right : 0px;
    height : 26px;
    background-image : url(/images/container/bg_mdiTitle.gif);
}

.mdicss1 .w2window_header_title {
    position : absolute;
    top : 0px;
    left : 25px;
    width : 275px;
    height : 18px;
    padding : 4px 0px 0px 0px;
    font-size : 12px;
    font-weight : bold;
    color : #1f3f51;
    cursor : default;
    white-space : nowrap;
}

.mdicss1 .w2window_header_control {
    position : absolute;
    top : 0px;
    right : 0px;
    width : 75px;
    height : 24px;
}

.mdicss1 .w2window_minimize {
    position : absolute;
    top : 4px;
    left : 0px;
    width : 23px;
    height : 19px;
    background : url(/images/container/btn_minimize.gif) no-repeat center center;
    cursor : pointer;
}
.mdicss1 .w2window_maximized .w2window_restore {
    position : absolute;
    top : 4px;
    left : 24px;
    width : 23px;
    height : 19px;
    background : url(/images/container/btn_restore_max.gif) no-repeat center center;
    cursor : pointer;
}
.mdicss1 .w2window_restored .w2window_restore {
    position : absolute;
    top : 4px;
    left : 24px;
    width : 23px;
    height : 19px;
    background : url(/images/container/btn_restore.gif) no-repeat center center;
    cursor : pointer;
}
.mdicss1 .w2window_close {
    position : absolute;
    top : 4px;
    left : 48px;
    width : 23px;
    height : 19px;
    background : url(/images/container/btn_close.gif) no-repeat center center;
    cursor : pointer;
}
.mdicss1 .w2window_header_icon {
    position : absolute;
    top : 5px;
    left : 6px;
    width : 14px;
    height : 15px;
    background : url(/images/container/logo_mdi.gif) no-repeat center center;
}
.mdicss1 .w2window_body {
    background-color : #ffffff;
    position : absolute;
    top : 24px;
    left : 0px;
    bottom : 0px;
    right : 0px;
    border : 2px solid #ccdae1;
}
.mdicss1 .w2window_content {
    background-color : #ccdae1;
    position : absolute;
    top : 0px;
    left : 0px;
    bottom : 22px;
    right : 0px;
    margin: 0 2px;
    border : 1px solid #536a88;
}

.mdicss1 .w2window_msg {
           width : 300px;
}

/* default */
.bt_po_inqu .w2trigger_left {
    background-image:url(/images/form/m_bt_pop_inqu_l.png);
    background-repeat:no-repeat;
    width:4px;
    height:20px;
}
.bt_po_inqu .w2trigger_center {
    background-image:url(/images/form/m_bt_pop_inqu_c.png);
    background-repeat:no-repeat;
    width:16px;
}
.bt_po_inqu .w2trigger_right{
    background-image:url(/images/form/m_bt_pop_inqu_r.png);
    background-repeat:no-repeat;
    width:4px;
    height:20px;
}

/* over */
.bt_po_inqu .w2trigger_over .w2trigger_left {
    background-image:url(/images/form/m_bt_pop_inqu_l_o.png);
    background-repeat:no-repeat;
    width:4px;
    height:20px;
}
.bt_po_inqu .w2trigger_over .w2trigger_center {
    background-image:url(/images/form/m_bt_pop_inqu_c_o.png);
    background-repeat:no-repeat;
    width:16px;
}
.bt_po_inqu .w2trigger_over .w2trigger_right{
    background-image:url(/images/form/m_bt_pop_inqu_r_o.png);
    background-repeat:no-repeat;
    width:4px;
    height:20px;
}

/* Disabled */
.bt_po_inqu .w2trigger_disabled .w2trigger_left {
    background-image:url(/images/form/m_bt_pop_inqu_l_d.png);
    background-repeat:no-repeat;
    width:4px;
    height:20px;
}
.bt_po_inqu .w2trigger_disabled .w2trigger_center {
    background-image:url(/images/form/m_bt_pop_inqu_c_d.png);
    background-repeat:no-repeat;
    width:16px;
}
.bt_po_inqu .w2trigger_disabled .w2trigger_right{
    background-image:url(/images/form/m_bt_pop_inqu_r_d.png);
    background-repeat:no-repeat;
    width:4px;
    height:20px;
}

